@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    
}

body {
    background: #88ABFF;
}

.wrapper {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,265px);
    gap: 15px;
}
.wrapper li {
    height: 250px;
    background: #fff;
    border-radius: 5px;
    padding: 15px 20px 20px;
}

.add-box, .icon, .bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-box {
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.add-box .icon{
    height: 78px;
    width: 78px;
    border-radius: 50%;
    font-size: 30px;
    border: 2px dashed #88ABFF;
    color: #88ABFF;
    justify-content: center;
    margin-bottom: 10px;
}

.add-box p {
    font-size: 14px;
    color: #88ABFF;
    font-weight: 500;
    margin-top: 10px;
}

.wrapper .note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note p {
    font-weight: 500;
    font-size: 22px;
}

.note span {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    color: #575757;
}

.note .bottom-content {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}